
    <header id="desktop-view">
        <div class="site-info">
            <div class="site-title">
                <img src="img/SwingBattleLogo_White.png" alt="TXISB Title"/>
            </div>
        </div>
        <nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="event.html">Event</a></li>
        <li><a href="schedule.html">Schedule</a></li>
        <li><a href="staff.html">Staff</a></li>
        <li><a href="competitions.html">Competitions</a></li>
        <li><a href="register.html">Register</a></li>
    </ul>
</nav>
    </header>
    <aside class="collapsed" id="navbar mobile-view">
        <div class="collapsed">
            <div class="site-logo" id="navbar-site-logo" role="button">
                <img src="img/logotransp.png" alt="TXISB Logo"/>
            </div>
        </div>
        <div class="expanded">
            <nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="event.html">Event</a></li>
        <li><a href="schedule.html">Schedule</a></li>
        <li><a href="staff.html">Staff</a></li>
        <li><a href="competitions.html">Competitions</a></li>
        <li><a href="register.html">Register</a></li>
    </ul>
</nav>
            <div class="site-logo">
                <img src="img/SwingBattleLogo_White.png" alt="TXISB Title"/>
            </div>
        </div>

    </aside>

