<aside class="bottom">
    <div class="expanded">
        <nav>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./event">Event</a></li>
                <li><a href="./schedule">Schedule</a></li>
                <li><a href="./staff">Staff</a></li>
                <li><a href="./competitions">Competitions</a></li>
                <li><a href="./register">Register</a></li>
            </ul>
        </nav>
        <div class="site-logo">
            <img src="img/SwingBattleLogo_White.png" alt="TXISB Title"/>
        </div>
    </div>

</aside>